@include media-breakpoint-down(md) {
  .layout-container {
    // ----------------- Play-game CSS -------------
    .play-game-section {
      .play-game-container {
        .play-game-content {
          .play-game-box {
            .play-game-thumbnail {
              span {
                img {
                  // styles for the game thumbnail image
                }
              }
            }
            .play-game-info {
              .play-game-image {
                span {
                  height: 110px;
                  width: 110px;
                  img {
                    // styles for the play game image
                  }
                }
              }
              .play-game-name {
                @include font-size(16px);
                span {
                  // styles for the game name
                }
              }
              .play-game-button {
                // styles for the play game button
              }
            }
          }
        }
        .play-game-suggetion {
        }
      }
      .category-game-section {
      }
    }

    // ----------------- Contact CSS -------------
    .contact-section {
      .contact-container {
        .contact-header {
          .contact-title {
          }
        }
        .contact-body {
          .contact-card {
            .contact-card-header {
            }
            .contact-card-body {
              .contact-card-form {
              }
            }
          }
        }
      }
    }

    // ----------------- Privacy Policy CSS -------------
    .policy-section {
      @include font-size(14px);
      .tc-container {
        .tc-card {
          .tc-header {
            .tc-header-title {
            }
          }
          .tc-body {
            .tc-body-content {
              .tc-list {
                list-style: none;
                margin: 0;
                padding: 0;
                .tc-list-item {
                  .tc-list-title {
                  }
                  .tc-list-content {
                    p {
                      // styles for the paragraphs
                      line-height: 1.6;
                    }
                    a {
                      color: $primary-500;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
