<div class="hop-ad-section hop-ad ">
  <div class="container">
    <div class="row">
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="ad-container rounded" style="min-height: 250px;">
          <div class="ad-title font-9 text-center my-2 ">
            <span>ADVERTISEMENT</span>
          </div>
          <div class="ad-body">
            <ins class="adsbygoogle d-flex justify-content-center" style="display:block" [attr.data-ad-client]="adConfig.dataAdClient" [attr.data-ad-slot]="adConfig.dataAdSlot" [attr.data-ad-format]="adConfig.dataAdFormat" [attr.data-full-width-responsive]="adConfig.dataFullWidthResponsive"></ins>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
