<div class="video-ad-container">
  <section>
    <div class="advertise-section">
      <div class="ad-title font-9 text-center my-2 ">
        <span>ADVERTISEMENT</span>
      </div>
      <div class="ad-body" style='min-width: 320px; min-height: 250px;'>
        <!-- /23183718078/Hop_dialog -->
        <div id='div-gpt-ad-1720008395608-0' ></div>
      </div>
    </div>
    <div class="close-section">
      <ng-container *ngIf="!isAdFinished; else adFinish">
        <div class="message">
          <h4 class="inter-semibold">Continue in {{adSecond}}s</h4>
        </div>
      </ng-container>
      <ng-template #adFinish>
        <div class="close-button">
          <button class="btn btn-primary btn-xl" (click)="closeModal()">Continue</button>
        </div>
      </ng-template>
    </div>
  </section>
</div>
