.coockie-section {
  @include font-size(14px);
  @include padding(16px);
  position: fixed;
  left: calc(180px + 12px); // Sidebar width = 180
  right: 12px;
  bottom: 12px;
  max-width: 400px;
  z-index: 999;
  background: $primary-100;
  color: $gray-900;
  border-radius: 12px;
  .coockie-container {
    .cookie-box {
      .coockie-header {
      }
      .coockie-footer {
        .coockie-buttons {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          column-gap: 16px;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .coockie-section {
    @include font-size(12px);
    left: 12px;
    bottom: 12px;
  }
}
