.layout-light {
  @include themed() {
    background-color: t($bg-nav);
  }
}
.layout-card {
  border-radius: 12px;
  padding: 2rem;
  @include themed() {
    background-color: t($ngt-card);
  }
}
.text-inherit {
  color: inherit;
}
p {
  line-height: 1.6;
}
a {
  color: $primary-500;
}
