<div class="layout-section home-section">
  <div class="landing-container">
    <div class="container">
      <div class="row g-4">
        <div class="col-xxl-9 col-xl-9 col-lg-8 col-md-6 col-sm-6 col-12">
          <div class="search-header-input ">
            <form class="form" [formGroup]="searchForm">
              <input type="text" name="search" id="search" class="form-control search-input-not" placeholder="Enter country name..." formControlName="query">
              <label for="search" class="search-label">
                <span class="search-icon">
                  <!-- <tmd-icon name="search"></tmd-icon> -->
                </span>
              </label>
            </form>
          </div>
        </div>
        <div class="col-xxl-2 col-xl-2 col-lg-3 col-md-4 col-sm-4 col-9">
          <div class="input-select">
            <select class="form-control" [(ngModel)]="sortBy" (ngModelChange)="onChangeSortBy($event)">
              <option value="" selected>Sort by</option>
              <option *ngFor="let option of sortOptions" [value]="option.value">{{ option.label }}</option>
            </select>
          </div>
        </div>
        <div class="col-xxl-1 col-xl-1 col-lg-1 col-md-2 col-sm-2 col-3">
          <div class="sort-button h-100">
            <button class="btn btn-primary-outline w-100 h-100 px-1" (click)="toggleSortOrder()">
              {{ sortOrder === 'ASC' ? 'A-Z' : 'Z-A' }}
            </button>
          </div>
        </div>
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="country-list">
            <div class="row g-4">
              <ng-container *ngIf="!isLoading; else showLoader">
                <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12" *ngFor="let item of displayCountryList">
                  <div class="country-card-container">
                    <app-country-card [countryInfo]="item"></app-country-card>
                  </div>
                </div>
              </ng-container>
              <ng-template #showLoader>
                <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10,11,12]">
                  <div class="country-card-container-loader">
                    <div class="ph-item h-100 ph-card">
                      <div class="ph-col-12">
                        <div class="ph-picture image-sm"></div>
                        <div class="ph-row" *ngFor="let line of [1,2,3]">
                          <div class="ph-col-4 "></div>
                          <div class="ph-col-2 empty"></div>
                          <div class="ph-col-6 "></div>
                          <!-- <div class="ph-col-12 big"></div>
                          <div class="ph-col-12 big mt-2"></div>
                          <div class="ph-col-12 "></div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-container *ngIf="!isLoading && !displayCountryList.length">
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <div class="error-message text-center ">
                    <p>No countries found matching your criteria. Please try again with different search terms.</p>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-container py-3 layout-light">
    <div class="container">
      <div class="row">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="about-section">
            <div class="about-container">
              <div class="about-card">
                <div class="about-card-header">
                  <div class="about-card-header-title">
                    <span class="inter-semibold font-4">About NationNavigator</span>
                  </div>
                </div>
                <div class="about-card-body">
                  <p>Users can browse a comprehensive list of countries, viewing essential details like names, populations, and areas. The application presents data in an organized and easy-to-read format, allowing users to quickly find information on any country.</p>

                  <p>The sorting feature lets users arrange the list by name, population, or area. They can choose to sort in ascending or descending order, making it simple to view countries based on their preferred criteria.</p>

                  <p>The application is designed to be responsive, ensuring a smooth experience across various devices. Users can interact with dropdowns and sorting buttons seamlessly on desktops, tablets, and smartphones.</p>

                  <p>Overall, Country Finder offers a user-friendly interface for exploring global country data, with flexible sorting options and a responsive design for easy navigation.</p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>