<div class="contact-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-9 col-xl-10 col-lg-12 col-md-12 col-sm-12">
        <div class="contact-container">
          <div class="contact-header">
            <div class="contact-title">
              <span>Get in touch! </span>
            </div>
          </div>
          <div class="contact-body">
            <div class="contact-card p-5">
              <div class="contact-card-header">
                <span>Let us know what you think. Your feedback is valuable. </span>
              </div>
              <div class="contact-card-body">
                <form action="" [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-card-form">
                  <div class="form-group">
                    <label for="name" class="control-label mendetory">Name</label>
                    <input type="text" id="name" class="form-control" formControlName="name">
                    <div class="form-error" *ngIf="contactForm.controls['name'].touched "> <!-- && contactForm.controls['name'].dirty -->
                      <span class="error-message" *ngIf="contactForm.controls['name'].hasError('required')">Name required!</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="email" class="control-label mendetory">Email</label>
                    <input type="text" id="email" class="form-control" formControlName="email">
                    <div class="form-error" *ngIf="contactForm.controls['email'].touched "> <!-- && contactForm.controls['email'].dirty -->
                      <span class="error-message" *ngIf="contactForm.controls['email'].hasError('required')">Email required!</span>
                      <span class="error-message" *ngIf="contactForm.controls['email'].hasError('email')">Enter valid email!</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="subject" class="control-label mendetory">Subject</label>
                    <input type="text" id="subject" class="form-control" formControlName="subject">
                    <div class="form-error" *ngIf="contactForm.controls['subject'].touched "> <!-- && contactForm.controls['subject'].dirty -->
                      <span class="error-message" *ngIf="contactForm.controls['subject'].hasError('required')">Subject Required!</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="message" class="control-label mendetory">Message</label>
                    <textarea name="" id="message" class="form-control" formControlName="message" rows="6"></textarea>
                    <div class="form-error" *ngIf="contactForm.controls['message'].touched "> <!-- && contactForm.controls['message'].dirty -->
                      <span class="error-message" *ngIf="contactForm.controls['message'].hasError('required')">Message required!</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="submit-button d-flex justify-content-end">
                      <button type="submit" class="btn btn-primary btn-xl">Send Message</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
