<div class="sidebar-container">
  <div class="sidebar-main">
    <div class="sidebar-menu">
      <div class="sidebar-menu-container">
        <ul class="sidebar-menu-list list-top mb-2">
          <li *ngFor="let item of menuList; let i=index">
            <div class="sidebar-list-item" (click)="onChangeRouting(item.routing)" [routerLink]="item.routing" [routerLinkActive]="'active'">
              <div class="sidebar-list-icon">
                <span><i [class]="item.icon"></i></span>
              </div>
              <div class="sidebar-list-title">
                <span>{{item.title}}</span>
              </div>
            </div>
          </li>
        </ul>
        <ul class="sidebar-menu-list list-top">
          <li class="border-top pt-2 ">
            <div class="sidebar-list-item px-3 all-game-container" (click)="goToGames()" routerLink="/category" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
              <div class="sidebar-list-title all-game-title">
                <span>{{'All games ' }}</span>
              </div>
            </div>
          </li>
          <li *ngFor="let item of allGameList" (click)="goToGames(item.id)">
            <div class="sidebar-list-item" [ngClass]="{'active': item.id == activeIndex}">
              <div class="sidebar-list-icon">
                <span>
                  <img [src]="'/assets/images/sidebar/'+ item.icon + '.svg'" [alt]="item.title">
                </span>
              </div>
              <div class="sidebar-list-title">
                <span>{{item.title}}</span>
              </div>
            </div>
          </li>
          <!-- <li routerLink="/demo-1">
            <div class="sidebar-list-item">
              <div class="sidebar-list-title">
                <span>{{'Demo 1'}}</span>
              </div>
            </div>
          </li> -->
        </ul>
      </div>
    </div>
    <div class="contact-link">
      <div class="contact-container" (click)="onChangeRouting(['/hop/contact'])">
        <div class="contact-icon">
          <span>
            <i class="fa-regular fa-message"></i>
          </span>
        </div>
        <div class="contact-title">
          <span>Contact us</span>
        </div>
      </div>
    </div>
  </div>
</div>
