<div class="coockie-container">
  <div class="cookie-box">
    <div class="coockie-header">
      <p>
        <span class="inter-semibold">Do you agree to let us use cookies?</span>
        <span>
          On the HopGame website, we use cookies to deliver better user experience, manage authentication and provide relevant alerts. We are committed to protecting your privacy and ensuring your data is handled in compliance with the General Data Protection Regulation (GDPR).
        </span>
      </p>
    </div>
    <div class="coockie-footer">
      <div class="coockie-buttons">
        <button class="btn btn-primary" (click)="acceptCookie()">OK, I AGREE</button>
        <button class="btn btn-dark-outline" (click)="goToPage()">PRIVACY POLICY</button>
      </div>
    </div>
  </div>
</div>
