.hp-section {
  .hp-header-container {
    @include padding(80px 12px);
    .hp-inner-section {
      .hp-inner-container {
        display: flex;
        flex-flow: column;
        gap: 16px;
        .hp-header {
          display: flex;
          justify-content: center;
        }
        .hp-body {
          .hp-body-container {
            .hp-image-container {
              display: flex;
              justify-content: space-between;
              .hp-image {
                user-select: none;
                --tw-translate-x: 0;
                --tw-translate-y: 0;
                --tw-rotate: 0deg;
                --tw-skew-x: 0deg;
                --tw-skew-y: 0deg;
                --tw-scale-x: -1; /* Flip horizontally */
                --tw-scale-y: 1;
                span {
                  display: flex;
                  height: 240px;
                  width: 140px;
                  background-image: url("/assets/images/device/headphone.png");
                  background-size: contain;
                  transition: all 0.2s;
                }
                &.hp-left {
                  transform: translate(
                      var(--tw-translate-x),
                      var(--tw-translate-y)
                    )
                    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x))
                    skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
                    scaleY(var(--tw-scale-y));
                }
                &:hover {
                  cursor: pointer;
                }
                &.active {
                  span {
                    transform: scale(0.96);
                    cursor: pointer;
                  }
                }
              }
            }
            .hp-btns {
              display: flex;
              justify-content: space-between;
            }
            .headphone-btns {
            }
          }
        }
      }
    }
  }
}
