<div class="layout-container">
  <div class="navbar-section">
    <app-navbar></app-navbar>
  </div>
  <div class="layout-inner-container">
    <div class="main-section">
      <div class="main-section-routing">
        <router-outlet></router-outlet>
      </div>
      <div class="about-container py-3 layout-light">
        <app-about></app-about>
      </div>
      <div class="footer-section">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>

<div class="scroll-top-icon" (click)="scrollTop()" [ngClass]="{'show':isShowScrollToTop}">
  <span>
    <tmd-icon [isDefault]="true" [name]="'arrow-up'" [fill]="'#FFF'"></tmd-icon>
  </span>
</div>