<div class="layout-section hp-section">
    <div class="hp-header-container layout-light" *ngIf="isTestingMode; else notTestingMode">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="hp-inner-section">
                        <div class="row justify-content-center">
                            <div class="col-xxl-6 col-xl-8 col-lg-12 col-md-12 col-sm-12">
                                <div class="hp-inner-container">
                                    <div class="hp-header">
                                        <div class="select-device-list"></div>
                                        <div class="auto-play">
                                            <button class="btn btn-dark btn-xl" (click)="requestPermissions()"> Request permission</button>
                                            <hr>
                                            <button class="btn btn-dark btn-xl" (click)="getAudioOutputDevices()"> Get all devices</button><br>
                                            <!-- <input type="range" name="" id=""> -->
                                            <form action="">
                                                <div class="form-group">
                                                    <select name="" id="outputDevices" class="form-control" [(ngModel)]="selectedDeviceId" (ngModelChange)="onDeviceChange()">
                                                        <option value="">Select Speacker...</option>
                                                        <option [value]="item.deviceId" *ngFor="let item of audioOutputDevices">{{item.label}}</option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="hp-body">
                                        <div class="hp-body-container">
                                            <div class="hp-image-container">
                                                <div class="hp-image hp-left " (mousedown)="onMouseDown($event, 'LEFT')" (mouseup)="removeClass($event)">
                                                    <span></span> <!--Headphone image-->
                                                </div>
                                                <div class="hp-image hp-right" (mousedown)="onMouseDown($event, 'RIGHT')" (mouseup)="removeClass($event)">
                                                    <span></span> <!--Headphone image-->
                                                </div>
                                            </div>
                                            <div class="hp-btns mt-4">
                                                <div class="hp-btn hp-btn-left">
                                                    <button class="btn btn-primary btn-xl" (click)="playSound('LEFT')">
                                                        <span> Play left speacker </span>
                                                    </button>
                                                </div>
                                                <div class="hp-btn hp-btn-right">
                                                    <button class="btn btn-primary btn-xl" (click)="playSound()">
                                                        <span> Play Both </span>
                                                    </button>
                                                </div>
                                                <div class="hp-btn hp-btn-right">
                                                    <button class="btn btn-primary btn-xl" (click)="playSound('RIGHT')">
                                                        <span> Play right speacker </span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="hp-audio">
                                                <audio id="audioPlayer" src="/assets/audio/effect/sample2.wav" #audioPlayer></audio>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #notTestingMode>
        <div class="landing-header">
            <app-tmd-heading [description]="'To start the Headphone test, you do not need any programs, just click on the button below. If your camera is operational, you will see yourself on the screen.'" (startTestingEvent)="startTesting()" [deviceName]="'Headphones'"></app-tmd-heading>
        </div>
    </ng-template>
    <div class="about-container py-3">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="about-section">
                        <div class="about-container">
                            <div class="about-card">
                                <div class="about-card-header">
                                    <div class="about-card-header-title">
                                        <span class="inter-semibold font-4">About TestMyDevice</span>
                                    </div>
                                </div>
                                <div class="about-card-body">
                                    <p>Welcome to <strong>TestMyDevice</strong>, your go-to solution for quick and
                                        reliable testing of
                                        headphones, microphones, and webcams. We are dedicated to helping you ensure
                                        your audio and video
                                        devices are functioning at their best.</p>

                                    <p>At <strong>TestMyDevice</strong>, we understand the importance of clear
                                        communication and
                                        high-quality sound and video. Our platform provides easy-to-use tools to test
                                        and verify your
                                        devices,
                                        giving you peace of mind.</p>

                                    <p>Our mission is to make device testing accessible to everyone, from casual users
                                        to professionals.
                                        We
                                        believe that checking your equipment should be straightforward and hassle-free.
                                    </p>

                                    <p>With <strong>TestMyDevice</strong>, you can perform comprehensive tests on your
                                        headphones,
                                        microphones, and webcams in just a few clicks. We strive to offer an intuitive
                                        user experience that
                                        saves you time and effort.</p>

                                    <p>We are committed to continuous improvement and innovation. By staying up-to-date
                                        with the latest
                                        technologies, we ensure that our tools meet your evolving needs.</p>

                                    <p>Thank you for choosing <strong>TestMyDevice</strong>. We are here to support you
                                        in achieving the
                                        best performance from your audio and video devices.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>