<div class="layout-game-section 3d-games-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="category-tab-container mb-4">
          <div class="category-tab">
            <ul class="nav nav-tabs hop-tabs">
              <li class="nav-item hop-item" *ngFor="let item of gameMenuList; let i=index" (click)="navigateTab(item.id)">
                <a class="nav-link hop-item-link active" aria-current="page" [ngClass]="{'active' : item.id === activeId}">{{item.title}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="advertise-section mb-4">
          <div class="ad-title font-9 text-center mb-2 ">
            <span>ADVERTISEMENT</span>
          </div>
          <div class="ad-body">
            <!-- /23183718078/Hop_Bannersmart -->
            <div id='div-gpt-ad-1719902603272-0' style='min-width: 300px; min-height: 100px;'></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="!isLoading">
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="category-game-section">
          <ng-container *ngIf="gameList && gameList.length; else notFound">
            <app-grid-game [gameCategory]="gameCategory" [gameList]="gameList" [isAdShow]="true"></app-grid-game>
          </ng-container>
          <ng-template #notFound>
            <div class="not-found text-center py-2">
              <h3>Game not found!</h3>
              <hr>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
