<div class="landing-container layout-light">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="landing-section">
                    <div class="row justify-content-center">
                        <div class="col-xxl-6 col-xl-8 col-lg-8 col-md-10 col-sm-12">
                            <div class="landing-section-container">
                                <div class="landing-section-title">
                                    <h1 class="inter-bold font-1">Test {{deviceName}} Online </h1>
                                </div>
                                <div class="landing-section-content">
                                    <p>{{description}}</p>
                                </div>
                                <div class="landing-section-cta">
                                    <div class="start-test">
                                        <button class="btn btn-primary btn-xl btn-with-icon" (click)="startTesting()">
                                            <!-- <span class="btn-icon">
                                                <tmd-icon [name]="'rocket'"></tmd-icon>
                                            </span> -->
                                            <span>Start testing</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>