<div class="footer-container mt-5">
  <div class="footer-top-section">
    <div class="container">
      <div class="row">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="footer-inner-container">
            <!-- <div class="footer-top-icon" (click)="scrollTop()">
              <span>
                <i class="fa-solid fa-angle-up"></i>
              </span>
            </div> -->
            <div class="footer-header">
              <div class="footer-header-content flex-column flex-sm-row justify-content-center">
                <div class="footer-logo" (click)="goToPage(['/'])">
                  <span>
                    <img [src]="logoUrl" alt="Nation Navigator">
                  </span>
                </div>
                <div class="footer-links" *ngIf="false">
                  <ul class="flex-column flex-sm-row">
                    <li (click)="goToPage(['/hop/privacy-policy'])">Privacy Policy</li>
                    <li (click)="goToPage(['/hop/terms-condition'])">Terms & Conditions</li>
                    <li (click)="goToPage(['/hop/dmca-policy'])">DMCA Policy</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-body">
              <div class="footer-body-container">
                <div class="row">
                  <div class="col-xxl-8 col-xl-8 col-lg-12 col-md-12 col-sm-12">
                    <div class="footer-body-text">
                      <p>Explore detailed information about countries around the world, including population, area, and more. Stay informed with easy-to-use sorting and dynamic map links for every country.</p>
                      <p>Built with <strong>Angular</strong>, <strong>Typescript</strong>, <strong>SCSS</strong> , and external APIs.</p>
                    </div>
                  </div>
                  <div class="col-xxl-4 col-xl-4 col-lg-12 col-md-12 col-sm-12">
                    <div class="footer-contact">
                      <div class="footer-contact-container ">
                        <div class="contact-title">
                          <span>Contact me</span>
                        </div>
                        <div class="contact-subtitle">
                          <span>Email : <a [href]="'mailto:' + emailLink">{{emailLink}}</a></span>
                        </div>
                        <div class="contact-links">
                          <ul>
                            <li *ngFor="let item of contactLinks">
                              <a [href]="item.enum ==='EMAIL'?'mailto: ' + item.link: item.link" target="_blank" class="text-inherit" [title]="item.title">
                                <div class="contact-link link-email">
                                  <span>
                                    <!-- <i [class]="item.icon"></i> -->
                                    <tmd-icon [name]="item.icon"></tmd-icon>
                                  </span>
                                </div>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copy-right-section p-4 text-center">
    <div class="copy-right-title">
      <!-- <span>Copyright {{year}} {{website}} LLC, All Rights Reserved.</span> -->
      <p class="p-0">Developed by <a href="https://hariitilavat.web.app/" target="_blank">Harit Tilavat</a>. 🚀💻 </p>
    </div>
  </div>
</div>