<div class="footer-container mt-5">
  <div class="footer-top-section">
    <div class="container">
      <div class="row">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="footer-inner-container">
            <div class="footer-top-icon" (click)="scrollTop()">
              <span>
                <i class="fa-solid fa-angle-up"></i>
              </span>
            </div>
            <div class="footer-header">
              <div class="footer-header-content flex-column flex-sm-row">
                <div class="footer-logo" (click)="goToPage(['/'])">
                  <span>
                    <img src="/assets/icons/logo-dark.svg" alt="TestMyDevice">
                  </span>
                </div>
                <div class="footer-links">
                  <ul class="flex-column flex-sm-row">
                    <li (click)="goToPage(['/hop/privacy-policy'])">Privacy Policy</li>
                    <li (click)="goToPage(['/hop/terms-condition'])">Terms & Conditions</li>
                    <li (click)="goToPage(['/hop/dmca-policy'])">DMCA Policy</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="footer-body">
              <div class="footer-body-container">
                <div class="row">
                  <div class="col-xxl-8 col-xl-8 col-lg-12 col-md-12 col-sm-12">
                    <div class="footer-body-text">
                      <p>The largest collection of online games, we offer a seamless online platform for the best
                        playing experience on different devices for everything. Easy to use and play for fun,
                        relaxation, and reduce stress. Open and free.</p>
                      <p>Best place to engage and browse different games to expand your gaming skills. Let`s play!</p>
                    </div>
                  </div>
                  <div class="col-xxl-4 col-xl-4 col-lg-12 col-md-12 col-sm-12">
                    <div class="footer-contact">
                      <div class="footer-contact-container ">
                        <div class="contact-title">
                          <span>Contact Us</span>
                        </div>
                        <div class="contact-subtitle">
                          <span>Email : <a [href]="'mailto:' + emailLink">{{emailLink}}</a></span>
                        </div>
                        <div class="contact-links">
                          <ul>
                            <li *ngFor="let item of contactLinks">
                              <a [href]="item.enum ==='EMAIL'?'mailto: ' + item.link: item.link" target="_blank"
                                 class="text-inherit">
                                <div class="contact-link link-email">
                                  <span>
                                    <i [class]="item.icon"></i>
                                  </span>
                                </div>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copy-right-section p-4 text-center">
    <div class="copy-right-title">
      <span>Copyright {{year}} {{website}} LLC, All Rights Reserved.</span>
    </div>
  </div>
</div>
